.ng-invalid.ng-dirty {
	border-color: red;
	outline-color: red;
}

.ng-valid.ng-dirty {
	border-color: green;
	outline-color: green;
}

.ng-pristine {
	border-color: orange;
	outline-color: orange;
}

.navbar {
	padding-left: 13%;
}

.navbar-inverse {
	background-color: rgb(242, 148, 0);
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: white;
}

.servizi-colonna-img {
	width: 15%;
	padding-right: 1cm;
	padding-left: 1cm;
	padding-bottom: 0.5cm;
}

.servizi-colonna-testo {
	width: 35%;
	text-align: justify;
	padding-bottom: 0.5cm;
}

table {
	table-layout: fixed;
}

input:focus,textarea:focus,.focus {
	border: rgb(242, 148, 0);
	color: #FCA800;
}

.login-button {
	height: 30px;
	width: 75px;
	background-color: rgb(0, 178, 232) !important;
	border-radius: 10px 10px 10px 10px;
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
}

.div-table {
	display: table;
	width: 100%;
}

.div-row {
	display: table-row;
	width: 100%;
}

.div-cell-img {
	display: table-cell;
	width: 60%;
	text-align: right;
	margin-right: 150px;
}

.div-cell-text {
	display: table-cell;
	width: 40%;
	text-align: left;
}

html,body {
	height: 98%;
}

div#container {
	position: relative;
	width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

div#content {
	padding: 0 0 100px 0;
	margin: 0 auto;
}

div#footer {
	padding-top: 2em;
	background-color: rgb(242, 148, 0);
	color: white;
	padding-bottom: 2em;
}

.marginipagina {
	margin-left: 13%;
	margin-right: 13%;
}

.div-table-contatti {
	display: table;
	width: 100%;
}

.div-row-contatti {
	display: table-row;
	width: 100%;
}

.div-cell-img-contatti {
	display: table-cell;
	width: 7%;
	text-align: left;
	margin-right: 10%;
}

.div-cell-text-contatti {
	display: table-cell;
	width: 93%;
	text-align: left;
}

.form-group {
    margin-bottom: 15px;
    width: 70%;
}
	