.ng-invalid.ng-dirty {
	border-color: red;
	outline-color: red;
}

.ng-valid.ng-dirty {
	border-color: green;
	outline-color: green;
}

.ng-pristine {
	border-color: orange;
	outline-color: orange;
}

.navbar-header {
	float: left;
	width: 100%;
}

.navbar-inverse {
	background-color: rgb(242, 148, 0);
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	vertical-align: middle;
	color: white;
}

.navbar-brand-logo {
	float: left;
	height: 50px;
	padding: 2px 2px;
	width: 100px;
	margin-right: 2%;
	margin-left: 2%
}

.servizi-colonna-img {
	width: 20%;
	padding-right: 0.5cm;
	padding-left: 1cm;
	padding-bottom: 0.5cm;
}

.servizi-colonna-testo {
	width: 80%;
	text-align: justify;
	padding-bottom: 0.5cm;
}

table {
	table-layout: fixed;
}

input:focus,textarea:focus,.focus {
	border: rgb(242, 148, 0);
	color: #FCA800;
}

.login-button {
	height: 30px;
	width: 75px;
	background-color: rgb(0, 178, 232) !important;
	border-radius: 10px 10px 10px 10px;
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
}

.div-table {
	display: table;
	width: 100%;
}

.div-row {
	display: table-row;
	width: 100%;
}

.div-cell-img {
	display: table-cell;
	width: 60%;
	text-align: right;
	margin-right: 150px;
	vertical-align: middle;
}

.div-cell-text {
	display: table-cell;
	width: 40%;
	text-align: left;
}

html,body {
	height: 98%;
}

.container {
	padding-top: 6%;
	position: relative;
	width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.container-mobile {
	padding-top: 1%;
	position: relative;
	width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

div#content {
	padding: 0 0 100px 0;
	margin: 0 auto;
}

div#footer {
	padding-top: 2em;
	background-color: rgb(242, 148, 0);
	color: white;
	padding-bottom: 2em;
	vertical-align: middle;;
}

.marginipagina {
	margin-left: 13%;
	margin-right: 13%;
}

.div-table-contatti {
	display: table;
	width: 100%;
}

.div-row-contatti {
	display: table-row;
	width: 100%;
}

.div-cell-img-contatti {
	display: table-cell;
	width: 7%;
	text-align: left;
	margin-right: 10%;
}

.div-cell-text-contatti {
	display: table-cell;
	width: 93%;
	text-align: left;
}

.form-group {
	margin-bottom: 15px;
	width: 70%;
}

.cell-offerte {
	padding-right: 20px;
	padding-bottom: 30px
}

.carousel-control.right {
	right: 0;
	left: auto background-color:             white;
}

.carousel-indicators li {
	display: none;
}

.titoloPagina {
	color: rgb(242, 148, 0);
}

.clickable {
	cursor: pointer;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: rgb(242, 148, 0); -webkit-background-clip :
	padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-background-clip: padding-box;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: white;
	white-space: nowrap;
	padding: 8px 8px;
	font-size: 18px;
}